<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hyperlinkfoundation</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.1.5/angular-resource.min.js"></script>
        <script src="http://code.angularjs.org/1.1.5/angular-sanitize.min.js"></script>

    </head>
    <body ng-app="arenaApp">

        <div class="container" ng-controller="channelShow">

            <div class="row">
                <div class="sixteen columns add-bottom">
                    <h1 class="header">{{channel.title}}</h1>
                </div>
                <div class="eight columns offset-by-four">
                    <p ng-if="channel.metadata.description">{{channel.metadata.description}}</p>
                </div>
            </div>

            <!-- Channel contents loop -->
            <div id="left_side">
            <div class="row add-bottom block" ng-repeat="block in channel.contents">

                <div class="left columns">
                    <h4 ng-if="block.title" class="add-bottom">
                        <span ng-if="block.class == 'Link'">
                            <a href="{{block.source.url}}" title="{{block.title}}">↳ {{block.title}}</a>
                        </span>
                    </h4>

                    <div ng-if="block.class == 'Channel'">
                        <h5 class="channel"><a href="#{{block.slug}}" title="">{{block.title}}</a></h5>
                    </div>
                </div>

            </div>
          </div>
            <!-- End Channel contents loop -->
        </div>
        <script type="text/javascript">
            var app = angular.module('arenaApp', ['ngResource', 'ngSanitize']);

            app.controller('channelShow', function($scope, $resource) {
              var Channel = $resource('http://api.are.na/v2/channels/:slug');

              var channel = Channel.get({slug: 'hyperlink-foundation', sort: 'position', direction: 'desc'}, function(){
                $scope.channel = channel;
              });
            })
       </script>
    </body>
</html>
