body{
  font-family: sans-serif;
  margin-top: 0;
}
.back1 {
  position: fixed;
  z-index:-1000;
  left:0;
  height: 100%;
  width:50%;
  background-color: #FEF8D7;
}
.back2 {
  position: fixed;
  z-index:-1000;
  right:0;
  height: 100%;
  width:50%;
  background-color: #DCFEF6;
}
.container {
  width: 100%;
}
a{
  font-family: Arial, sans-serif;
  color:white;
  text-decoration:none;
}
a:hover{
  color: red;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h4{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#txt {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-left:2.5%;
  padding-right:2.5%;
  text-align: center;
}
.header{
  text-align:left;
  padding-left:2.5%;
  padding-top: 40px;
  }
.channel{
  text-align:center;
  background:#e3e3e3;
  border:1px solid #ccc;
  }

#left_side{
  left: 0px;
  position: aboslute;
  float: left;
  width:45%;
  margin-left: 2.5%;
  border-top: 1px solid #000;
  padding-top: 40px;
  }

#right_side{
  right: 0px;
  position: aboslute;
  float: right;
  width:50%;
  }
