body{
  font-family: sans-serif;
}

h4{
  font-weight: 200;

}

#left_side{
left: 0px;
position: aboslute;
float: left;
width:45%;
padding-left: 25px;
}

#right_side{
right: 0px;
position: aboslute;
float: right;
width:50%;
}
