<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>HYPERLINKFOUNDATION</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css">
      <link rel="stylesheet" href="/style.css">

      <script src="https://code.angularjs.org/1.1.5/angular.min.js"></script>
      <script src="https://code.angularjs.org/1.1.5/angular-resource.min.js"></script>
      <script src="https://code.angularjs.org/1.1.5/angular-sanitize.min.js"></script>

      <script>
      function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML = h+":"+m+":"+s;
        var t = setTimeout(function(){startTime()},500);
      }

      function checkTime(i) {
        if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
    </script>

        <meta charset="utf-8">
        <title>WebSockets - Simple chat</title>

         <script src="javascripts/jquery.min.js"></script>
    </head>
    <body ng-app="arenaApp" onload="startTime()">
      <div class="back1"></div>
      <div class="back2"></div>
      <div class="top">
      <h1 id="hyper">HYPERLINK</h1>
      <h1 id="txt"></h1>
      <h1 id="link">FOUNDATION</h1>
    </div>
    <div id="left_side">
        <div class="container" ng-controller="channelShow">

            <!-- Channel contents loop -->

            <div class="row add-bottom block" ng-repeat="block in channel.contents">


                    <h4 ng-if="block.title" class="add-bottom">
                        <span ng-if="block.class == 'Link'">
                            <a href="{{block.source.url}}" title="{{block.title}}" target="_blank">
                              {{block.title}}
                              </a>
                        </span>
                    </h4>

                    <div ng-if="block.class == 'Channel'">
                        <h5 class="channel"><a href="#{{block.slug}}" title="">{{block.title}}</a></h5>
                    </div>

            </div>
          </div>
            <!-- End Channel contents loop -->
        </div>
        <div id="right_side">
          <div id="content"></div>
            <span id="status">Connecting...</span>
            <input type="text" id="input" />
        </div>

        <script src="javascripts/browser.js"></script>
        <script type="text/javascript">
            var app = angular.module('arenaApp', ['ngResource', 'ngSanitize']);

            app.controller('channelShow', function($scope, $resource) {
              var Channel = $resource('https://api.are.na/v2/channels/:slug');

              var channel = Channel.get({slug: 'hyperlink-foundation', sort: 'position', direction: 'desc'}, function(){
                $scope.channel = channel;
              });
            })
       </script>
    </body>
</html>
