body{
  font-family: sans-serif;
  margin-top: 0;
  color: black;
  height: 100%;
}
.back1 {
  position: fixed;
  z-index:-1000;
  left:0;
  height: 100%;
  width:50%;
  background-color: rgb(238, 238, 238);
}
.back2 {
  position: fixed;
  z-index:-1000;
  right:0;
  height: 100%;
  width:50%;
  background-color: rgb(204, 242, 255);
}
.block{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left:0;

}
.container {
  width: 100%;
}
a{
  font-family: Arial, sans-serif;
  color: #000 !important;
}
a:hover{
  color: red;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h4{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.top {
  text-align: center;
  height: 20vh;
  width: 100%;
  border-bottom: 1px solid #666;
  position: fixed;
}

#hyper{
  left: 2.5%;
  position: fixed;
}
#txt {
  right: 2.5%;
  left: 2.5%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}
#link {
  right: 2.5%;
  position: fixed;
}
.header{
  text-align:left;
  padding-left:2.5%;
  padding-top: 40px;
  }
.channel{
  text-align:center;
  background:#e3e3e3;
  border:1px solid #ccc;
  }

#left_side{
  left: 0px;
  position: fixed;
  float: left;
  width:45%;
  margin-left: 2.5%;
  margin-top: 20vh;
  height: 80vh;
  overflow-y: scroll;
  }
#left-side::-webkit-scrollbar {
  display: none;
  }
#right_side{
  right: 0px;
  position: fixed;
  float: right;
  width:45%;
  margin-right: 2.5%;
  margin-top: 20vh;
  height: 80vh;
  overflow: hidden;
  }

  input[type="text"], textarea, select{
      padding: 6px 4px;
      outline: 0;
      font: 20px Arial, sans-serif;
      color: #000;
      margin: 0;
      display: block;
      background: #fff;
      min-height: 0px !important;
      max-height: 30px !important;
      bottom: 0;
      width: 100%;
    }

  * {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding:0px;
    margin:0px;
    }
  p {
    line-height:24px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    }
  #content {
    padding-top:20px;
    background: rgba(0,0,0,0);
    height: 60vh;
    overflow: auto;
    padding-bottom: 30px;
    }
  #input {
    border-radius: 0px;
    background-color:rgba(255,0,0,0);
    border:0px;
    line-height: 24px;
    margin-top:15px;
    padding: 0px;
    box-shadow: none !important;
    vertical-align: baseline;
    display: block;
    }
  #input:focus {
      color: black;
    }
  #status {
    color: black;
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 20px;
    display: block;
    float:left;
    margin-top: 15px;
    }
  textarea {
    resize: none;
    overflow: hidden;
    padding-top:0px !important;
    }
